body {
    background: lightgray;
}
.game-header{
    border: 1px solid black;
    margin: 10px;
}
.game-board{
    height: 440px;
    width: 220px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-top: 0px;
    margin: 0 auto;
}
.game-board div{
    height: 20px;
    width: 20px;
    background: white;
    border: 1px solid rgba(125, 125, 125, 0.5);
    margin: 0 auto;
}
.game-board-left{
    height: 50px;
    width: 148px;
    border: 1px solid black;
    margin: 100px 0;
}
.controls {
    border: 1px solid black;
    padding: 0 5px;
}
.game-board-right{
    width: 148px;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: space-between;
}
#game {
    height: 440px;
    width: 580px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#control-header{
    text-align: center;
}
#next-piece {
    background: white;
    height: 88px;
    width: 88px;
    border: 1px solid black;
    margin: 0 auto;
}